name: Deploy Java Packages

on:
  workflow_call:
    inputs:
      package:
        description: 'Updated package'
        required: true
        type: string
      java_version:
        description: 'Package Java Version'
        required: true
        type: string
      java_distribution:
        description: 'Java Distribution'
        required: true
        type: string

jobs:
    publish-package:
      name: Publish package
      runs-on: ubuntu-latest
      environment: Packages
      steps:
        - uses: actions/checkout@v4
        
        - uses: actions/setup-java@v4
          with:
            java-version: ${{ inputs.java_version }}
            distribution: ${{ inputs.java_distribution }}
        
        - name: Deploy Package
          run: |
            cd ./${{ inputs.package }}
            mvn --batch-mode deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
