name: Pull Request - Back-End Repositories

on:
  workflow_call:
    inputs:
      sonar_project_key:
        description: 'SonarQube Project Key'
        required: true
        type: string
      java_version:
        description: 'Java Version'
        required: true
        type: string
      java_distribution:
        description: 'Java Distribution'
        required: true
        type: string

jobs:
  conventional-commits:
    name: Conventional Commit Validation
    uses: ./.github/workflows/conventional-commit-v1.yml

  sonar-analysis:
    name: Sonar Analysis
    uses: ./.github/workflows/sonar-analysis-v1.yml
    needs: conventional-commits
    with:
      sonar_project_key: ${{ inputs.sonar_project_key }}
      java_version: ${{ inputs.java_version }}
      java_distribution: ${{ inputs.java_distribution }}
    secrets:
      TOKEN_GITHUB_PACKAGES: ${{ secrets.TOKEN_GITHUB_PACKAGES }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
