name: Sonar Analysis

on:
  workflow_call:
    inputs:
      sonar_project_key:
        description: 'SonarQube Project Key'
        required: true
        type: string
      java_version:
        description: 'Java Version'
        required: true
        type: string
      java_distribution:
        description: 'Java Distribution'
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        description: 'Sonar token for analysis'
        required: true
      TOKEN_GITHUB_PACKAGES:
        description: 'GitHub Packages download token'
        required: true

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}
      - name: Sonar Cache
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: maven-settings
        uses: s4u/maven-settings-action@v3.1.0
        with:
          servers: '[{"id": "cashflow", "username": "Packages Install", "password": "${{ secrets.TOKEN_GITHUB_PACKAGES }}" }]'
          githubServer: false
      - name: Run Sonar Analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=${{ inputs.sonar_project_key }}
